
@{
    ViewBag.Title = "Index";
}


<body style="background-image: url(https://www.valoradata.com/files/uploads/2014/08/soporte1-1024x699.jpg); background-repeat: no-repeat; background-size:1500px ">
</body>


<h1 style="float:right" >Bienvenidos al Sistema</h1>

